# Apple detrius
#
.DS_Store

# archives
#
*.zip
*.7z
*.tar
*.gz
*.bz2

# Multimarkdown output
#
*.html

# Sublime Text
#
*.sublime-workspace

# utility script
#
delme-utility.src.ps1

# scratch directory
#
/tmp
