[ req ]
prompt = no
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
# See <https://en.wikipedia.org/wiki/Certificate_signing_request>.
emailAddress            = webmaster@something-cool.org
countryName             = US
stateOrProvinceName     = Texas
localityName            = Houston
organizationName        = Something Cool
commonName              = www.something-cool.org
